.navigation {
    font-size: larger;
    background-color: darkcyan;
}

h1 {
    text-align: center;
}

main {
    background-color:crimson;
}

ul {
    font-size: large;
}

p {
    font-size: larger;
}

table {
    margin: 10% auto;
    width: 50%;
    border-collapse: collapse;
    background-color: wheat;
}

th {
    background-color: darkgreen;

}

th, td {
    border: 1px solid;
    padding: 5px;
    text-align: center;        
}
